
{% extends 'base.html' %}

{% block content %}
<div class="room-list">
    {% for room in rooms %}
<div class="card" style="width: 18rem;">
  <img src="{{room.image.url}}" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Номер{{room.number}}</h5>
    <p class="card-text">{{room.price}} грн/доба</p>
    <p class="card-text">Місць{{room.place}} грн/доба</p>
    <a href="{% url 'booking' room.id%}" class="btn btn-primary">Детальніше</a>
  </div>
</div>
    {% endfor %}
</div>
{% endblock %}